certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-PyMongo==2.2.0
Flask-Session==0.3.1
humanize==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
pymongo==3.7.2
pytz==2018.9
requests==2.21.0
urllib3==1.26.5
werkzeug==0.15.5
ansi2html==1.5.2
gunicorn==20.0.4
