<script src="{{ url_for('.static_file', path='eventsource.min.js') }}"></script>
<script type="application/javascript">
    /** Status string constants, they appear as part of the "status" message fron broadway **/
    const SCHEDULED = "scheduled", RUNNING = "running", SUCCESS = "success", FAILED = "failed", ERROR = "";
    
    /** Common error messages **/
    const QUEUE_POSITION_QUERY_FAILED = "Queue position query failed. Please refresh to try again";
    const UNKNOWN_CLICK_TO_TRY_AGAIN = "Unknown. Click to try again.";
    const UNKNOWN_PLEASE_TRY_AGAIN = "Unknown. Please try again.";
    
    /** status string -> bootstrap text/button color class **/
    const statusClassMap = {
        [SCHEDULED]: "info",
        [RUNNING]: "info",
        [SUCCESS]: "success",
        [FAILED]: "danger",
        [ERROR]: "info"
    };
    // ---------------------------------------------------------------------------------
    // ----- Manual status update: requires clicking the button multiple times.---------
    // ---------------------------------------------------------------------------------
    /** The button for status update must have "status-{runId}" as element id **/
    function updateButtonContent(runId, text, buttonType) {
        $("#status-" + runId).html("<i class=\"fas fa-sync-alt\"></i> " + text)
                             .attr("class", "btn btn-secondary btn-sm btn-text-break " + buttonType);
    }

    /** For authentication between on-demand and broadway **/
    function buildHeader(token) {
        return { Authorization: `Bearer ${token}` };
    }

    /** 
     * Use this function to get a run's overall state. Note that a run fails if
     * and only if its pre-processing or post-processing job fails. If a student
     * job fails within the run, the run is still considered successful.
     * Also update the button content to reflect the run state.
     */
    function getRunState(runId, cid, queryToken) {
        $.ajax({
            type: "get",
            url: `{{ broadway_api_url }}/grading_run_status/${cid}/${runId}`,
            headers: buildHeader(queryToken),
                success: (result) => {
                let status = result["data"]["state"]
                if (status.indexOf(SCHEDULED) != -1) {
                    updateButtonContent(runId, status, "btn-info")
                } else {
                    updateButtonContent(runId, status, "btn-success")
                }
            },
            error: () => {
                updateButtonContent(runId, UNKNOWN_CLICK_TO_TRY_AGAIN, "btn-warning");
            }
        })
    }

    /**
     * Asynchronously gets the job id and status of a run. Assumes this run only has 1 job in it (which
     * is true for student triggered pre-deadline runs). After getting the info, it is passed into callback 
     * functions with a signle object parameter. Example successCallback:
     *     function onSuccess({ runId, cid, status, jobId, queryToken, <fields you passed in as "extraParams"> }) {
     *         console.log(`Grading job with id ${jobId}, has status ${status}`)
     *     }
     * Which is equivalent to 
     *     function onSuccess(params) {
     *         console.log(`Grading job with id ${params.jobId}, has status ${params.status}`)
     *     }
     * See `getRunStatus` as an example usage.
     * This function is created so that multiple other functions can query the same endpoint.
     */
    function getRunWithSingleJobHelper(runId, cid, queryToken, successCallback, errorCallback, extraParams = {}) {
        $.ajax({
            type: "get",
            url: `{{ broadway_api_url }}/grading_run_status/${cid}/${runId}`,
            headers: buildHeader(queryToken),
            success: function (result) {
                let status = Object.values(result["data"]["student_jobs_state"])[0]
                let jobId = Object.keys(result["data"]["student_jobs_state"])[0]
                successCallback({ runId, cid, status, jobId, queryToken, ...extraParams })
            },
            error: function () {
                errorCallback({ runId, cid, queryToken, ...extraParams });
            }
        })
    } 

    /** Get and update student job status within a grading run **/
    function getRunStatus(runId, cid, queryToken) {
        function onSuccess({ runId, cid, jobId, queryToken, status }) {
            for (var key in statusClassMap) {
                if (status.indexOf(key) != -1) {
                    if (key == SCHEDULED) {
                        getQueuePosition(runId, jobId, cid, queryToken);
                    } else {
                        updateButtonContent(runId, status, "btn-" + statusClassMap[key]);
                    }
                    break;
                }
            }
        }

        function onError(param) {
            updateButtonContent(runId, UNKNOWN_CLICK_TO_TRY_AGAIN, "btn-warning");
        }

        getRunWithSingleJobHelper(runId, cid, queryToken, onSuccess, onError);
    }

    /** Generate human readable display message given queue position as a string **/
    function queuePositionTextGenerator(position) {
        const posInt = parseInt(position);
        if (isNaN(posInt)) {
            return QUEUE_POSITION_QUERY_FAILED;
        }
        let positionString = `Your job is scheduled after ${posInt} other job${posInt > 1 ? "s" : ""}`;
        if (posInt === 0) {
            positionString = "Your job is next";
        }
        return positionString;
    }

    /** 
     * Get queue position for a scheduled student job. Usage is similar to
     * `getRunWithSingleJobHelper`.
     */
    function getQueuePositionHelper(runId, jobId, cid, queryToken, onSuccess, onError, extraParams = {}) {
        $.ajax(
            {
                type: "get",
                url: `{{ broadway_api_url }}/queue/${cid}/${jobId}/position`,
                headers: buildHeader(queryToken),
                success: function (result) {
                    let position = result["data"]["position"];
                    onSuccess({runId, jobId, cid, queryToken, position, ...extraParams});
                },
                error: function () {
                    onError({runId, jobId, cid, queryToken, ...extraParams});
                }
            }
        )
    }
    
    /** Get and display queue position for a scheduled run. */
    function getQueuePosition(runId, jobId, cid, queryToken) {
        function onSuccess({ runId, position }) {
            let queuePositionString = queuePositionTextGenerator(position);
            updateButtonContent(runId, queuePositionString, "btn-info");
        }
        function onError({ runId }) {
            updateButtonContent(runId, QUEUE_POSITION_QUERY_FAILED, "btn-info");
        }
        getQueuePositionHelper(runId, jobId, cid, queryToken, onSuccess, onError);
    }
    // ---------------------------------------------------------------------
    // --------- Server Side Events "automatic" status update --------------
    // ---------------------------------------------------------------------
    /** status string -> font awesome icon class **/
    const statusIconMap = {
        [SCHEDULED]: "fa-sync-alt",
        [RUNNING]: "fa-sync-alt",
        [SUCCESS]: "fa-check",
        [FAILED]: "fa-times",
        [ERROR]: "fa-exclamation-triangle"
    };
    /**
     * Each status update display element must have the run id as element id.
     */
    function updateAutoStatus(runId, textContent, divClass, iconClass) {
        $(`#${runId}`).html(`<i class="fas ${iconClass}"></i> ${textContent}`)
            .attr("class", `auto-status-update ${divClass}`);
    }
    /**
     * Set up a server side event listener and a stream with broadway job status update endpoint.
     */
    function setUpSSEListener(runId, jobId, cid, queryToken) {
        // We use EventSourcePolyfill instead of EventSource because we need "Authorization" headers
        // which is not supported by default EventSource
        const es = new EventSourcePolyfill(
            `{{ broadway_api_url }}/stream/${cid}/${jobId}`,
            { headers: buildHeader(queryToken) }
        );
        // Listen to SSE events
        es.addEventListener("status_update", (event) => {
            const data = JSON.parse(event.data);
            switch (data.type) {
                // "state" event happens when a grading job transitions from 
                // scheduled -> running, and running -> Finished/Failed
                case "state":
                    switch (data.data) {
                        case "STARTED":
                            updateAutoStatus(runId, "grading job is running", `text-${statusClassMap[RUNNING]}`, `${statusIconMap[RUNNING]} fa-spin`);
                            break;
                        case "FAILED":
                            updateAutoStatus(runId, "grading job failed", `text-${statusClassMap[FAILED]}`, statusIconMap[FAILED]);
                            es.close();
                            break;
                        case "FINISHED":
                            updateAutoStatus(runId, "grading job was successful", `text-${statusClassMap[SUCCESS]}`, statusIconMap[SUCCESS]);
                            es.close();
                            break;
                        default:
                            updateAutoStatus(runId, UNKNOWN_PLEASE_TRY_AGAIN, "text-warning", statusIconMap[ERROR]);
                            es.close();
                    }
                    break;
                // A position event happens when a scheduled grading job moves up in the queue
                case "position":
                    const queuePositionString = queuePositionTextGenerator(data.data);
                    updateAutoStatus(runId, queuePositionString, `text-${statusClassMap[SCHEDULED]}`, `${statusIconMap[SCHEDULED]} fa-spin`);
                    break;
                default:
                    updateAutoStatus(runId, UNKNOWN_PLEASE_TRY_AGAIN, "text-warning", statusIconMap[ERROR]);
            } 
        })
        es.onerror = (error) => {
            console.log(error);
            es.close(); // close the stream connection whenever an error occurs
            updateAutoStatus(runId, "An error occurred, please refresh the page", "text-warning", statusIconMap[ERROR]);
        }
    }
    /**
     * Call this function for each student run that needs automatic status updates.
     */
    function autoUpdateStatus(runId, cid, queryToken) {
        function onSuccess({runId, cid, status, jobId}) {
            for (var key in statusClassMap) {
                if (status.indexOf(key) != -1) {
                    if (key == SCHEDULED) {
                        // If job is scheduled, get+display initial queue position, then set up job status stream to update queue position change/success/failure
                        updateAutoStatus(runId, "Fetching queue position...", "text-" + statusClassMap[key], `${statusIconMap[key]} fa-spin`)
                        getQueuePositionHelper(runId, jobId, cid, queryToken, ({runId, position}) => {
                            let queuePositionString = queuePositionTextGenerator(position);
                            updateAutoStatus(runId, queuePositionString, "text-" + statusClassMap[key], `${statusIconMap[key]} fa-spin`)
                            setUpSSEListener(runId, jobId, cid, queryToken);
                        }, ({runId}) => {
                            updateAutoStatus(runId, QUEUE_POSITION_QUERY_FAILED, "text-warning", statusIconMap[ERROR])
                        })
                    } else if (key == RUNNING) {
                        // If job is running, set up job status stream to update Succeeded/Failed
                        updateAutoStatus(runId, status, "text-" + statusClassMap[key], `${statusIconMap[key]} fa-spin`)
                        setUpSSEListener(runId, jobId, cid, queryToken);
                    } else {
                        // Job has succeeded / failed, no need to set up job status stream
                        updateAutoStatus(runId, status, "text-" + statusClassMap[key], statusIconMap[key]);
                    }
                    break;
                }
            }
        }

        function onError({runId}) {
            updateAutoStatus(runId, UNKNOWN_PLEASE_TRY_AGAIN, "text-warning", statusIconMap[ERROR])
        }

        getRunWithSingleJobHelper(runId, cid, queryToken, onSuccess, onError);
    }
</script>
