{% set title = "%s (staff) (%s)" % (course.name, netid) %}
{% include 'header.html' %}
{% include 'status.html' %}
<script type="application/javascript">
    function editAssnErr(msg) {
        $('#mdl-edit-assn-error').html(msg).show();
    }
    function attemptEditAssignment() {
        let maxRuns = $('#mdl-edit-assn-runs').val();
        if (!maxRuns) {
            editAssnErr("Max Runs is required.");
            return;
        }
        let quota = $('input[name=quota]:checked', '#edit-assn').val();
        if (!quota) {
            editAssnErr("Quota Type is required.");
            return;
        }
        let start = $('#mdl-edit-assn-start').val();
        let end = $('#mdl-edit-assn-end').val();
        if (!start || !end) {
            editAssnErr("Start and End are required.");
            return;
        }

        let config = undefined;
        let old = $('#mdl-edit-assn-config').data("old-config");

        if (!$('#mdl-edit-assn-config')[0].hasAttribute("disabled")) {
            config = normalizeJSON($('#mdl-edit-assn-config').val());

            if (!config) {
                editAssnErr("Invalid assignment config");
                return;
            }

            if (config == old) {
                config = undefined;
            }
        }

        let visibility = $('input[name=visibility]:checked', '#edit-assn').val();

        $.ajax({
            type: "POST",
            url: "{{ url_for('.edit_assignment', cid=course._id, aid=assignment.assignment_id) }}",
            data: {max_runs: maxRuns, quota: quota, start: start, end: end, visibility: visibility, config: config},
            beforeSend: function () {
                $('#mdl-edit-assn-error').html('').fadeOut();
                $('#mdl-edit-assn-save .loader').addClass("fa-spin");
            },
            success: function () {
                $('#mdl-edit-assn').modal('hide');
                location.reload();
                $('#mdl-edit-assn-save .loader').removeClass("fa-spin");
            },
            error: function (xhr) {
                if (!xhr.responseText) {
                    $('#mdl-edit-assn-error').html("Save failed. Please try again.").fadeIn();
                } else {
                    $('#mdl-edit-assn-error').html(xhr.responseText).fadeIn();
                }

                $('#mdl-edit-assn-save .loader').removeClass("fa-spin");
            }
        })
    }

    function addExtErr(msg) {
        $('#mdl-add-ext-error').html(msg).show();
    }
    function attemptAddExtension() {
        let netids = $('#mdl-add-ext-netids').val();
        if (!netids) {
            addExtErr("NetID is required.");
            return;
        }
        let maxRuns = $('#mdl-add-ext-runs').val();
        if (!maxRuns) {
            addExtErr("Max Runs is required.");
            return;
        }
        let start = $('#mdl-add-ext-start').val();
        let end = $('#mdl-add-ext-end').val();
        if (!start || !end) {
            addExtErr("Start and End are required.");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{{ url_for('.staff_add_extension', cid=course._id, aid=assignment.assignment_id) }}",
            data: {netids: netids, max_runs: maxRuns, start: start, end: end},
            beforeSend: function () {
                $('#mdl-add-ext-error').html('').hide();
            },
            success: function () {
                $('#mdl-add-ext').modal('hide');
                location.reload();
            },
            error: function (xhr) {
                if (!xhr.responseText) {
                    $('#mdl-add-ext-error').html("Save failed. Please try again.").show();
                } else {
                    $('#mdl-add-ext-error').html(xhr.responseText).show();
                }
            }
        });
    }
    function fmtTimestamp(timestamp) {
        return new Date(timestamp * 1000).toLocaleString('en-US', {timeZone: '{{ tzname }}'});
    }
    function viewExtensions() {
        $.ajax({
            type: "GET",
            url: "{{ url_for('.staff_get_extensions', cid=course._id, aid=assignment.assignment_id) }}",
            dataType: "json",
            success: function (result) {
                console.log(result);
                let tbody = $('#mdl-view-exts-body');
                tbody.empty();
                if (result == undefined || result.length == 0) {
                    tbody.append('<tr><td colspan="5">No extensions</td></tr>')
                } else {
                    for (let i in result) {
                        tbody.append(
                            '<tr><td>' + result[i].netid
                            + '</td><td class="text-right">' + fmtTimestamp(result[i].start)
                            + '</td><td class="text-right">' + fmtTimestamp(result[i].end)
                            + '</td><td class="text-right">' + result[i].max_runs
                            + '</td><td class="text-right">' + result[i].remaining_runs
                            + '</td></tr>\n');
                    }
                }
                $('#mdl-view-exts').modal('show');
            },
            error: function (xhr) {
                alert("Error!");
            }
        });
    }

    function normalizeJSON(json) {
        try {
            return JSON.stringify(JSON.parse(json));
        } catch {
            return null;
        }
    }

    function loadOriginalConfig() {
        $('#mdl-edit-assn-config').val("Loading...").attr("disabled", "");

        $.ajax({
            type: "GET",
            url: "{{ url_for('.staff_get_assignment_config', cid=course._id, aid=assignment.assignment_id) }}",
            dataType: "json",
            success: function (result) {
                let json = JSON.stringify(result);
                let old = normalizeJSON(json);
                $('#mdl-edit-assn-config').val(old).data("old-config", old).removeAttr("disabled");
            },
            error: function () {
                $('#mdl-edit-assn-config')
                    .val("Config loading failed; you may proceed with editing other information");
            }
        });
    }

    function getRunLog(runId) {
        $('#mdl-view-log-stderr').html('');
        $('#mdl-view-log-stdout').html('');
        $.ajax(
            {
                url: "./" + runId + "/log/",
                success: function (result) {
                    $('#mdl-view-log-run-id').html(runId);
                    $('#mdl-view-log-stderr').html(result['stderr']);
                    $('#mdl-view-log-stdout').html(result['stdout']);
                    $('#mdl-view-log').modal('show');
                },
                error: function () {
                    $('#view-log-' + runId).html("<i class=\"fas fa-sync-alt\"></i> Failed. Click to try again.")
                                         .attr("class", "btn btn-sm btn-warning");
                }
            })
    }
</script>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.staff_home') }}">Staff Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('.staff_get_course', cid=course._id) }}">{{ course.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ assignment.assignment_id }}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-9">
            <table class="table table-hover table-fit">
                <thead>
                <tr>
                    <th scope="col">Run ID</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for student in student_runs %}
                    <tr>
                        <th scope="col" class="student-header" colspan="3">{{ student._id }}</th>
                    </tr>
                    {% for run in student.runs %}
                        <tr>
                            <td>{{ run._id }}</td>
                            <td>{{ run.timestamp | round_timestamp | fmt_timestamp }}</td>
                            <td>
                                <button class="btn btn-link btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Check status" onclick="getRunStatus('{{ run._id }}')" id="status-{{ run._id }}"><i class="fas fa-info-circle"></i>Status</button> 
                                <button class="btn btn-link btn-sm" type="button" onclick="getRunLog('{{ run._id }}')" id="view-log-{{ run._id }}"><i class="fas fa-file-alt"></i>Log</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% if not student_runs %}
                    <tr>
                        <td colspan="3">No grading runs</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"> All times in {{ tzname }}</div>
        </div>
        <div class="modal fade" id="mdl-view-log" tabindex="-1" role="dialog" aria-labelledby="mdl-view-log-label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mdl-view-log-label">View log: <span id="mdl-view-log-run-id"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>stderr</h5>
                        <pre id="mdl-view-log-stderr"></pre>
                        <hr>
                        <h5>stdout</h5>
                        <pre id="mdl-view-log-stdout"></pre>
                    </div>
                </div>
            </div>
        </div>
        {% if is_admin %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Assignment actions</h5>

                        <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-edit-assn" onclick="loadOriginalConfig();">
                            <i class="fas fa-pen"></i> Edit assignment
                        </button>
                        <div class="modal fade" id="mdl-edit-assn" tabindex="-1" role="dialog" aria-labelledby="mdl-edit-assn-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdl-edit-assn-label">Edit assignment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="edit-assn" id="edit-assn">
                                            <div class="form-group">
                                                <label for="aid">Assignment ID</label>
                                                <input type="text" class="form-control" id="mdl-edit-assn-aid" name="aid" value="{{ assignment.assignment_id }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="max_runs">Max Runs</label>
                                                <input type="number" min="1" max="100" class="form-control" id="mdl-edit-assn-runs" name="max_runs" value="{{ assignment.max_runs }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-check-label">Quota Type</label><br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="quota" id="mdl-edit-assn-quota-daily" value="daily" {% if assignment.quota == "daily" %}checked{% endif %}>
                                                    <label class="form-check-label" for="mdl-edit-assn-quota-daily">Daily</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="quota" id="mdl-edit-assn-quota-daily" value="total" {% if assignment.quota == "total" %}checked{% endif %}>
                                                    <label class="form-check-label" for="mdl-edit-assn-quota-total">Total</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="start">Start Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-edit-assn-start" name="start" value="{{ assignment.start|fmt_datetime_local }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="start">End Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-edit-assn-end" name="end" value="{{ assignment.end|fmt_datetime_local }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-check-label">Visibility</label><br>
                                                <!-- TODO modify the if statement after database shift -->
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-edit-assn-not-visible" value="{{ visibility.HIDDEN }}" {% if assignment.visibility == false or assignment.visibility == visibility.HIDDEN %}checked{% endif %}>
                                                    <label class="form-check-label" for="mdl-edit-assn-not-visible">Not visible</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-edit-assn-visible" value="{{ visibility.VISIBLE }}" {% if assignment.visibility == true or assignment.visibility == visibility.VISIBLE %}checked{% endif %}>
                                                    <label class="form-check-label" for="mdl-edit-assn-visible">Visible</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-edit-assn-visible-from-start-date" value="{{ visibility.VISIBLE_FROM_START }}" {% if assignment.visibility == visibility.VISIBLE_FROM_START %}checked{% endif %}>
                                                    <label class="form-check-label" for="mdl-edit-assn-visible-from-start-date">Visible from start date</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="start">Configuration</label>
                                                <div>

                                                    <textarea type="text" class="form-control" id="mdl-edit-assn-config" name="config" rows="5" style="font-family: monospace;"></textarea>
                                                </div>
                                            </div>
                                            <span id="mdl-edit-assn-error" class="form-text text-danger"></span>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="mdl-edit-assn-save" onclick="attemptEditAssignment()">
                                            <span class="fa fa-cog loader" style="margin-right: 0.2em;"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-add-ext">
                            <i class="fas fa-plus"></i> Add extension
                        </button>
                        <div class="modal fade" id="mdl-add-ext" tabindex="-1" role="dialog" aria-labelledby="mdl-add-ext-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdl-add-ext-label">Add extension</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="add-ext" id="add-ext">
                                            <div class="form-group">
                                                <label for="netids">NetIDs</label>
                                                <small>(comma-separated list)</small>
                                                <input type="text" class="form-control" id="mdl-add-ext-netids" name="netids">
                                            </div>
                                            <div class="form-group">
                                                <label for="max_runs">Max Runs (total)</label>
                                                <input type="number" min="1" max="100" class="form-control" id="mdl-add-ext-runs" name="max_runs">
                                            </div>
                                            <div class="form-group">
                                                <label for="start">Start Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-add-ext-start" name="start">
                                            </div>
                                            <div class="form-group">
                                                <label for="start">End Date & Time</label> <span
                                                    class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-add-ext-end"
                                                       name="end">
                                            </div>
                                            <div id="mdl-add-ext-error" class="form-text text-danger"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="mdl-add-ext-save" onclick="attemptAddExtension()">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <button type="button" class="btn btn-outline-primary mt-3" onclick="viewExtensions()">
                            <i class="fas fa-list"></i> View extensions
                        </button>
                        <div class="modal fade" id="mdl-view-exts" tabindex="-1" role="dialog" aria-labelledby="mdl-view-exts-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdl-view-exts-label">View extensions</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table table-fit table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">NetID</th>
                                                    <th scope="col">Start</th>
                                                    <th scope="col">End</th>
                                                    <th scope="col">Max Runs</th>
                                                    <th scope="col">Remaining Runs</th>
                                                </tr>
                                                </thead>
                                                <tbody id="mdl-view-exts-body">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}