{% set title = "%s (staff) (%s)" % (course.name, netid) %}
{% include 'header.html' %}
<script type="application/javascript">
    function addAssnErr(msg) {
        $('#mdl-add-assn-error').html(msg).show();
    }
    function attemptAddAssignment() {
        let aid = $('#mdl-add-assn-aid').val();
        if (!aid) {
            addAssnErr("Assignment ID is required.");
            return;
        }
        let maxRuns = $('#mdl-add-assn-runs').val();
        if (!maxRuns) {
            addAssnErr("Max Runs is required.");
            return;
        }
        let quota = $('input[name=quota]:checked', '#add-assn').val();
        if (!quota) {
            addAssnErr("Quota Type is required.");
            return;
        }
        let start = $('#mdl-add-assn-start').val();
        let end = $('#mdl-add-assn-end').val();
        if (!start || !end) {
            addAssnErr("Start and End are required.");
            return;
        }

        let config = undefined;

        if ($('#mdl-add-assn-config-nav-text').hasClass("active")) {
            config = $('#mdl-add-assn-config').val();
            if (!config) {
                addAssnErr("Assignment config is required.");
                return;
            }

            do_post();
        } else {
            if (!upload_config) {
                addAssnErr("No file selected");
                return;
            }

            if (!FileReader) {
                addAssnErr("Unable to read file content, please use the text input instead");
            } else {
                let reader = new FileReader();

                reader.onload = function () {
                    config = reader.result;
                    do_post();
                };

                reader.readAsText(upload_config);

                $('#mdl-add-assn-save .loader').addClass("fa-spin");
            }
        }

        function do_post() {
            $.ajax({
                type: "POST",
                url: "{{ url_for('.staff_get_course', cid=course._id) }}" + aid + '/',
                data: {max_runs: maxRuns, quota: quota, start: start, end: end, config: config},
                beforeSend: function () {
                    $('#mdl-add-assn-error').html('').fadeOut();
                    $('#mdl-add-assn-save .loader').addClass("fa-spin");
                },
                success: function () {
                    $('#mdl-add-assn').modal('hide');
                    location.reload();
                    $('#mdl-add-assn-save .loader').removeClass("fa-spin");
                },
                error: function (xhr) {
                    if (!xhr.responseText) {
                        $('#mdl-add-assn-error').html("Save failed. Please try again.").fadeIn();
                    } else {
                        $('#mdl-add-assn-error').html(xhr.responseText).fadeIn();
                    }

                    $('#mdl-add-assn-save .loader').removeClass("fa-spin");
                }
            });
        }
    }

    var upload_config = undefined;

    $(function () {
        $('#mdl-add-assn-config-upload-box').on("drag dragstart dragend dragover dragenter dragleave drop", function(e) {
            e.preventDefault();
            e.stopPropagation();
        });
        
        $('#mdl-add-assn-config-upload-box').on("dragover", function (e) {
            $(this).addClass("on-drag");
        }).on("dragleave drop", function (e) {
            $(this).removeClass("on-drag");
        });

        $('#mdl-add-assn-config-upload-box').on("drop", function (e) {
            if (e.originalEvent.dataTransfer &&
                e.originalEvent.dataTransfer.files &&
                e.originalEvent.dataTransfer.files.length) {
                upload_config = e.originalEvent.dataTransfer.files[0];
                $('#mdl-add-assn-config-upload-box').text("File name: " + upload_config.name);
            } else {
                $('#mdl-add-assn-config-upload-box').text("Please drop files");
            }
        });
        
        $('#mdl-add-assn-config-upload-box').on("click", function () {
            $('#mdl-add-assn-config-upload').click();
        });

        $('#mdl-add-assn-config-upload').on("change", function () {
            let file = $('#mdl-add-assn-config-upload')[0].files[0];

            if (file) {
                upload_config = file;
                $('#mdl-add-assn-config-upload-box').text("File name: " + upload_config.name);
            }
        });
    });

    function viewWorkerStatus() {
        $.ajax({
            type: "GET",
            url: "{{ url_for('.staff_get_workers', cid=course._id) }}",
            dataType: "json",
            success: function (result) {
                let tbody = $('#mdl-worker-status-body');
                tbody.empty();
                if (result == undefined || result.length == 0) {
                    tbody.append('<tr><td colspan="4">No workers</td></tr>')
                } else {
                    for (let i in result) {
                        let aliveClass = result[i].alive ? "text-info" : "text-danger";
                        let busyText = result[i].busy ? '<span class="badge badge-warning">busy</span>' : "";
                        tbody.append(
                            '<tr><td>' + result[i].hostname
                            + '</td><td class="text-center">' + result[i].jobs_processed
                            + '</td><td class="text-center"><i class="fas fa-circle ' + aliveClass + '" style="margin-right: 0;"></i>'
                            + '</td><td class="text-center">' + busyText
                            + '</td></tr>\n');
                    }
                }
                $('#mdl-worker-status').modal('show');
            },
            error: function (xhr) {
                let tbody = $('#mdl-worker-status-body');
                tbody.empty();
                tbody.append('<tr><td colspan="4" class="text-danger">Failed to load worker status</td></tr>')
            }
        });
    }
</script>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.staff_home') }}">Staff Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-9">
            <table class="table table-hover table-fit">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Max Runs</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td><a href="{{ url_for('.staff_get_assignment', cid=course._id, aid=assignment.assignment_id) }}">{{ assignment.assignment_id }}</a></td>
                        <td>{{ assignment.max_runs }} ({{ assignment.quota }})</td>
                        <td>{{ assignment.start|fmt_timestamp }}</td>
                        <td>{{ assignment.end|fmt_timestamp }}</td>
                    </tr>
                {% endfor %}
                {% if not assignments %}
                    <tr>
                        <td colspan="4">No assignments</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"> All times in {{ tzname }}</div>
        </div>
        {% if is_admin %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Course actions</h5>

                        <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-add-assn">
                            <i class="fas fa-calendar-plus"></i> Add assignment
                        </button>
                        <div class="modal fade" id="mdl-add-assn" tabindex="-1" role="dialog" aria-labelledby="mdl-add-assn-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdl-add-assn-label">Add assignment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="add-assn" id="add-assn">
                                            <div class="form-group">
                                                <label for="aid">Assignment ID</label>
                                                <input type="text" class="form-control" id="mdl-add-assn-aid" name="aid">
                                            </div>
                                            <div class="form-group">
                                                <label for="max_runs">Max Runs</label>
                                                <input type="number" min="1" max="100" class="form-control" id="mdl-add-assn-runs" name="max_runs">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-check-label">Quota Type</label><br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="quota" id="mdl-add-assn-quota-daily" value="daily" checked>
                                                    <label class="form-check-label" for="mdl-add-assn-quota-daily">Daily</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="quota" id="mdl-add-assn-quota-daily" value="total">
                                                    <label class="form-check-label" for="mdl-add-assn-quota-total">Total</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="start">Start Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-add-assn-start" name="start">
                                            </div>
                                            <div class="form-group">
                                                <label for="start">End Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                                <input type="datetime-local" class="form-control" id="mdl-add-assn-end" name="end">
                                            </div>
                                            <div class="form-group">
                                                <label for="start">Configuration</label>
                                                <nav>
                                                    <div class="nav nav-tabs" role="tablist">
                                                        <a id="mdl-add-assn-config-nav-text" class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab">Text</a>
                                                        <a id="mdl-add-assn-config-nav-upload" class="nav-item nav-link" data-toggle="tab" href="#nav-profile" role="tab">Upload</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                                                        <textarea type="text" class="form-control" id="mdl-add-assn-config" name="config" rows="8"
                                                                  style="font-family: monospace; border-top: none; border-top-left-radius: 0; border-top-right-radius: 0;"></textarea>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" style="padding-top: 0.5em;">
                                                        <div id="mdl-add-assn-config-upload-box" class="file-drop-box" draggable="true">
                                                            Drag & drop or click to upload
                                                        </div>
                                                        <input type="file" id="mdl-add-assn-config-upload" class="form-control-file" style="display: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="mdl-add-assn-error" class="form-text text-danger"></span>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="mdl-add-assn-save" onclick="attemptAddAssignment()">
                                            <span class="fa fa-cog loader" style="margin-right: 0.2em;"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-worker-status" onclick="viewWorkerStatus()">
                            <i class="fas fa-server"></i> Worker status
                        </button>
                        <div class="modal fade" id="mdl-worker-status" tabindex="-1" role="dialog" aria-labelledby="mdl-worker-status-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdl-view-worker-status-label">Worker status</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table table-fit table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Host</th>
                                                    <th scope="col">Jobs Processed</th>
                                                    <th scope="col">Alive</th>
                                                    <th scope="col">Busy</th>
                                                </tr>
                                                </thead>
                                                <tbody id="mdl-worker-status-body">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
