{% set title = "%s (%s)" % (course.name, netid) %}
{% include 'header.html' %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{{ url_for('.static_file', path='moment.min.js') }}"></script>
<script src="{{ url_for('.static_file', path='modify_assignment.1.0.1.js') }}"></script>
<script type="application/javascript">
   $(() => { // on load
       modifyAssignment(
           "add-assn", 
           `{{ url_for('.add_assignment', cid=course._id) }}`, 
           '#mdl-add-assn-error', 
           '#mdl-add-assn-save',
           '#mdl-add-assn-save .loader', 
           '#mdl-add-assn'
       );
       modifyTemplates(
           "course-templates", 
           `{{ url_for('.set_template_values', cid=course._id) }}`, 
           '#mdl-course-templates-error', 
           '#mdl-course-templates-save',
           '#mdl-course-templates-save .loader', 
           '#mdl-course-templates'
       );
   });
   
   function viewWorkerStatus() {
       $.ajax({
           type: "GET",
           url: "{{ url_for('.staff_get_workers', cid=course._id) }}",
           dataType: "json",
           success: function (result) {
               let tbody = $('#mdl-worker-status-body');
               tbody.empty();
               if (result == undefined || result.length == 0) {
                   tbody.append('<tr><td colspan="4">No workers</td></tr>')
               } else {
                   for (let i in result) {
                       let aliveClass = result[i].alive ? "text-info" : "text-danger";
                       let busyText = result[i].busy ? '<span class="badge badge-warning">busy</span>' : "";
                       tbody.append(
                           '<tr><td>' + result[i].hostname
                           + '</td><td class="text-center">' + result[i].jobs_processed
                           + '</td><td class="text-center"><i class="fas fa-circle ' + aliveClass + '" style="margin-right: 0;"></i>'
                           + '</td><td class="text-center">' + busyText
                           + '</td></tr>\n');
                   }
               }
               $('#mdl-worker-status').modal('show');
           },
           error: function (xhr) {
               let tbody = $('#mdl-worker-status-body');
               tbody.empty();
               tbody.append('<tr><td colspan="4" class="text-danger">Failed to load worker status</td></tr>')
           }
       });
   }
</script>
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('.staff_home') }}">Staff Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
   </ol>
</nav>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6 col-lg-8 col-xl-9">
         <table class="table table-hover table-fit">
            <thead>
               <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Max Runs</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
               </tr>
            </thead>
            <tbody>
               {% for assignment in assignments | sort(attribute='start') | reverse %}
               <tr {% if assignment.end < now %} class="assignment-past-deadline" {% endif %}>
               <td><a href="{{ url_for('.staff_get_assignment', cid=course._id, aid=assignment.assignment_id) }}">{{ assignment.assignment_id }}</a></td>
               <td>{{ assignment.max_runs }} ({{ assignment.quota }})</td>
               <td>{{ assignment.start|fmt_timestamp }}</td>
               <td>{{ assignment.end|fmt_timestamp }}</td>
               </tr>
               {% endfor %}
               {% if not assignments %}
               <tr>
                  <td colspan="4">No assignments</td>
               </tr>
               {% endif %}
            </tbody>
         </table>
         <div class="text-secondary"> All times in {{ tzname }}</div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Course actions</h5>
               <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-worker-status" onclick="viewWorkerStatus()">
               <i class="fas fa-server"></i> Worker status
               </button>
               <div class="modal fade" id="mdl-worker-status" tabindex="-1" role="dialog" aria-labelledby="mdl-worker-status-label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="mdl-view-worker-status-label">Worker status</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <div class="table-responsive">
                              <table class="table table-fit table-hover">
                                 <thead>
                                    <tr>
                                       <th scope="col">Host</th>
                                       <th scope="col">Jobs Processed</th>
                                       <th scope="col">Alive</th>
                                       <th scope="col">Busy</th>
                                    </tr>
                                 </thead>
                                 <tbody id="mdl-worker-status-body">
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% if is_admin %}
               <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-course-templates">
               <i class="fas fa-file-code"></i> Modify configuration templates
               </button>
               <div class="modal fade" id="mdl-course-templates" tabindex="-1" role="dialog" aria-labelledby="mdl-course-templates-label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="mdl-course-templates-label">Manage Course Templates</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                            <p>The content of these fields will be the default in the UI when creating an assignment.</p>
                           <form name="course-templates" id="course-templates">
                              <div class="form-group">
                                 <label for="start">Student Job (Assignment) Configuration</label>
                                 <textarea type="text" class="form-control" id="mdl-course-templates-config" name="config" rows="8" style="font-family: monospace;" placeholder="JSON configuration for broadway">{{ course.default_assignment_config }}</textarea>
                              </div>
                              <div class="form-group">
                                 <label for="start">Grading Job Configuration</label>
                                 <textarea type="text" class="form-control" id="mdl-course-templates-config" name="grading_config" rows="8" style="font-family: monospace;" placeholder="JSON configuration for broadway">{{ course.default_grading_config }}</textarea>
                              </div>
                              <span id="mdl-course-templates-error" class="form-text text-danger"></span>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="submit" form="course-templates" class="btn btn-primary" id="mdl-course-templates-save">
                           <span class="fa fa-cog loader" style="margin-right: 0.2em;"></span>
                           Save
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <button type="button" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#mdl-add-assn">
               <i class="fas fa-calendar-plus"></i> Add assignment
               </button>
               <div class="modal fade" id="mdl-add-assn" tabindex="-1" role="dialog" aria-labelledby="mdl-add-assn-label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="mdl-add-assn-label">Add assignment</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <form name="add-assn" id="add-assn">
                              <div class="form-group">
                                 <label for="aid">Assignment ID</label>
                                 <input type="text" class="form-control" id="mdl-add-assn-aid" name="aid">
                              </div>
                              <div class="form-group">
                                 <label for="max_runs">Max Runs</label>
                                 <input type="number" min="1" max="100" class="form-control" id="mdl-add-assn-runs" name="max_runs">
                              </div>
                              <div class="form-group">
                                 <label class="form-check-label">Quota Type</label><br>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="quota" id="mdl-add-assn-quota-daily" value="daily" checked>
                                    <label class="form-check-label" for="mdl-add-assn-quota-daily">Daily</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="quota" id="mdl-add-assn-quota-daily" value="total">
                                    <label class="form-check-label" for="mdl-add-assn-quota-total">Total</label>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="start">Start Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                 <input type="datetime-local" class="form-control" id="mdl-add-assn-start" name="start" placeholder="YYYY-MM-DD HH:MM">
                              </div>
                              <div class="form-group">
                                 <label for="start">End Date & Time</label> <span class="badge badge-secondary">{{ tzname }}</span>
                                 <input type="datetime-local" class="form-control" id="mdl-add-assn-end" name="end" placeholder="YYYY-MM-DD HH:MM">
                              </div>
                              <div class="form-group">
                                 <label class="form-check-label">Visibility</label><br>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-add-assn-not-visible" value="{{ visibility.HIDDEN }}">
                                    <label class="form-check-label" for="mdl-add-assn-not-visible">Not visible</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-add-assn-visible" value="{{ visibility.VISIBLE }}">
                                    <label class="form-check-label" for="mdl-add-assn-visible">Visible</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="visibility" id="mdl-add-assn-visible-from-start-date" value="{{ visibility.VISIBLE_FROM_START }}" checked>
                                    <label class="form-check-label" for="mdl-add-assn-visible-from-start-date">Visible from start date</label>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label for="start">Student Job (Assignment) Configuration</label>
                                 <textarea type="text" class="form-control" id="mdl-add-assn-config" name="config" rows="8" style="font-family: monospace;" placeholder="JSON configuration for broadway">{{ course.default_assignment_config }}</textarea>
                              </div>
                              <div class="form-group">
                                 <label for="start">Grading Job Configuration</label>
                                 <textarea type="text" class="form-control" id="mdl-add-assn-grading-config" name="grading_config" rows="8" style="font-family: monospace;" placeholder="JSON configuration for broadway">{{ course.default_grading_config }}</textarea>
                              </div>
                              <span id="mdl-add-assn-error" class="form-text text-danger"></span>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="submit" form="add-assn" class="btn btn-primary" id="mdl-add-assn-save">
                           <span class="fa fa-cog loader" style="margin-right: 0.2em;"></span>
                           Save
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <a href="{{ url_for('.get_course_roster_page', cid=course._id) }}">
               <button type="button" class="btn btn-outline-primary mt-3">
               <i class="fas fa-table"></i> Modify roster
               </button>
               </a>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'footer.html' %}