{% set title = "Broadway On Demand (staff) (%s)" % netid %}
{% include 'header.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Staff Home</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td><a href="{{ url_for('.staff_get_course', cid=course._id) }}">{{ course._id }}</a></td>
                        <td><a href="{{ url_for('.staff_get_course', cid=course._id) }}">{{ course.name }}</a></td>
                    </tr>
                {% endfor %}
                {% if not courses %}
                    <tr>
                        <td colspan="2">No courses</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"><small>ver. {{ version_code }}</small></div>
        </div>
    </div>
</div>
{% include 'footer.html' %}