{% set title = "%s (%s)" % (assignment.assignment_id, netid) %}
{% include 'header.html' %}
{% include 'status.html' %}
<script type="application/javascript">
    $(() => { // on load
        $(".auto-status-update").each((i, div) => {
            autoUpdateStatus(div.id, "{{ course._id }}", "{{ course.query_token }}");
        })
    })
    function confirmGradeNow() {
        let proceed = window.confirm("The current latest commit in your repository will be graded, using 1 available run.\nIn addition, by proceeding you certify that you have read and understand the course policies regarding plagarism and academic integrity and that the work you are submitting is your own and original unless explicitly allowed otherwise.\nAre you sure you want to proceed?" );
        if (!proceed) {
            return;
        }
        $.ajax({
            type: "POST",
            url: "{{ url_for('.student_grade_assignment', cid=course._id, aid=assignment.assignment_id) }}",
            data: {
                "csrf_token": $("#csrf_token").val()
            },
            beforeSend: function () {
                $('#grade-now-error').html('').hide();
                $('#grade-now').prop('disabled', true);
            },
            success: function () {
                location.reload();
            },
            error: function (xhr) {
                if (!xhr.responseText) {
                    $('#grade-now-error').html("Failed to start grading run. Please try again.").show();
                } else {
                    $('#grade-now-error').html(xhr.responseText).show();
                }
            }
        }).always(() => {
            $('#grade-now').prop('disabled', false);
        });
    }
</script>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.student_home') }}">Student Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('.student_get_course', cid=course._id) }}">{{ course.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ assignment.assignment_id }}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 col-lg-8 col-xl-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for run in runs %}
                    <tr>
                        <td style="width: 50%">{{ run.timestamp | round_timestamp | fmt_timestamp_full }}</td>
                        <td style="width: 50%">
                            <div id="{{ run._id }}" class="auto-status-update">
                                <i class="fas fa-spinner fa-spin"></i> Loading
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                {% if not runs %}
                    <tr>
                        <td colspan="2">No previous runs</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"> All times in {{ tzname }}</div>
        </div>


        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Available Runs: {{ num_available_runs }}/{{ assignment.max_runs }} ({{ assignment.quota }})</h5>
                    {% if num_extension_runs > 0 %}
                        <h5 class="card-title">+ {{ num_extension_runs }} Extension Runs</h5>
                    {% endif %}
                    {% set has_runs = num_available_runs + num_extension_runs > 0 %}
                    {% set has_commits = not not commit["sha"] %}
                    <form action="">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button id="grade-now" onclick="confirmGradeNow()" type="button" class="btn btn-primary" {% if not has_runs or not has_commits %}disabled{% endif %}>Grade Now</button>
                    </form>
                    <p>
                        <strong>Start</strong> {{ assignment.start|fmt_timestamp }}
                        <br><strong>End</strong> {{ assignment.end|fmt_timestamp }}
                        <hr>
                        {% if not commit["sha"] %}
                          <strong class="text-danger">Latest Commit</strong>
                          <br>{{ commit["message"] }}
                        {% else %}
                          <strong>Latest Commit</strong>
                          <br><code><a class="code-link" href="{{ commit['url'] }}" target="_blank">{{ commit["sha"] | truncate(7, end="") }}</a></code>
                          <span title="{{ commit['message'] }}">{{ commit["message"] | truncate(50, killwords=True) }}</span>
                        {% endif %}
                        <div id="grade-now-error" class="text-danger"></div>
			{% if runs and feedback_url %}
			<hr>
			<div id="feedback-link">
			  <a href="{{feedback_url}}" rel="link">Feedback branch</a>
                        </div>
			{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
