{% set title = "%s (%s)" % (course.name, netid) %}
{% include 'header.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.student_home') }}">Student Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments | sort(attribute='start') | reverse %}
                <tr {% if assignment.end < now %}
                        {% if assignment.total_available_runs <= 0 %}
                            class="assignment-no-runs"
                        {% else %}
                            class="assignment-past-deadline"
                        {% endif %}
                    {% endif %}>
                    <td>
                        <a href="{{ url_for('.student_get_assignment', cid=course._id, aid=assignment.assignment_id) }}">{{assignment.assignment_id}}</a>
                    </td>
                    <td title="Starts {{assignment.start | fmt_timestamp}}">{{assignment.start|fmt_timestamp_human}}</td>
                    <td title="Ends {{assignment.end | fmt_timestamp}}">{{assignment.end|fmt_timestamp_human}}</td>
                </tr>
                {% endfor %}
                {% if not assignments %}
                <tr>
                    <td colspan="3">No assignments</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"> All times in {{tzname}}</div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Course Links</h5>
                  <a href="{{ url_for('.student_grades', cid=course._id) }}">
                    <button type="button" class="btn btn-outline-primary mt-3">
                    <i class="fas fa-award"></i>View Grades
                    </button>
                    </a>
               </div>
            </div>
         </div>
    </div>
</div>
{% include 'footer.html' %}