{% set title = "%s (%s)" % (course.name, netid) %}
{% include 'header.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.student_home') }}">Student Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                <tr>
                    <td><a href="{{ url_for('.student_get_assignment', cid=course._id, aid=assignment.assignment_id) }}">{{assignment.assignment_id}}</a></td>
                    <td>{{assignment.start|fmt_timestamp}}</td>
                    <td>{{assignment.end|fmt_timestamp}}</td>
                </tr>
                {% endfor %}
                {% if not assignments %}
                <tr>
                    <td colspan="3">No assignments</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="text-secondary"> All times in {{tzname}}</div>
        </div>
    </div>
</div>
{% include 'footer.html' %}