body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

i.fab, i.fas {
    margin-right: 0.3em;
}

a.code-link {
    color: inherit;
}
a.code-link:hover {
    text-decoration: underline;
}

a.navbar-brand {
    font-weight: bold;
    color: white!important;
}
.container-fluid {
    padding: 20px;
}

.card {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.card > a {
    color: inherit;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.card-body > form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group > label {
    font-weight: bolder;
}

th.student-header {
    background: #e9ecef;
}

.table-fit > th {
    width: auto !important;
}

table.table-fit {
    width: auto !important;
}

.file-drop-box {
    padding: 2em;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    text-align: center;
    font-weight: bold;
    cursor: pointer;

    color: rgba(0, 0, 0, 0.3);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.file-drop-box.on-drag {
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.5);
}

/* ansi2html styling */

.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
.body_foreground { color: #AAAAAA; }
.body_background { background-color: #000000; }
.body_foreground > .bold,.bold > .body_foreground, body.body_foreground > pre > .bold {
    color: #FFFFFF; font-weight: normal;
}
.inv_foreground { color: #000000; }
.inv_background { background-color: #AAAAAA; }
.ansi1 { font-weight: bold; }
.ansi32 { color: #00aa00; }
.ansi35 { color: #E850A8; }
